# Ignore everything
*

### General Root Files ###
!.gitignore
!.zshrc

### i3 window manager ###
!.config
!.config/i3
!.config/i3/config
!.config/i3/power.sh
!.config/i3/i3status

!.config/i3blocks
!.config/i3blocks/i3blocks.conf
!.config/i3blocks/blocks
!.config/i3blocks/blocks/battery
!.config/i3blocks/blocks/bitrate
!.config/i3blocks/blocks/date
!.config/i3blocks/blocks/time
!.config/i3blocks/blocks/volume
!.config/i3blocks/blocks/wifi
### rofi ###
!.config/rofi
!.config/rofi/arc_dark.rasi

### .desktop ###
!.local
!.local/share
!.local/share/applications

### oh my zsh ###
!.oh-my-zsh
!.oh-my-zsh/custom
!.oh-my-zsh/custom/themes
!.oh-my-zsh/custom/themes/spaceship.zsh-theme
!.oh-my-zsh/custom/themes/spaceship-prompt
!.oh-my-zsh/custom/themes/spaceship-prompt/spaceship.zsh-theme
!.oh-my-zsh/custom/themes/spaceship-prompt/sections
!.oh-my-zsh/custom/themes/spaceship-prompt/sections/battery.zsh
!.oh-my-zsh/custom/themes/spaceship-prompt/sections/dir.zsh
!.oh-my-zsh/custom/themes/spaceship-prompt/sections/git*.zsh
!.oh-my-zsh/custom/themes/spaceship-prompt/sections/time.zsh
!.oh-my-zsh/custom/themes/spaceship-prompt/sections/user.zsh
!.oh-my-zsh/custom/themes/spaceship-prompt/sections/package.zsh
